
 {% extends 'main.html' %}
{% load static %}
{% comment %}{% load crispy_forms_tags %}{% endcomment %}

{% block title_block %} Registration {% endblock %}
{% block content %}
    {% include 'includes/navbar.html' %}
<!-- Login page -->
<div class="login_wrapper">
    <div class="container">
        <div class="col-md-12 pad-0">
            <div class="row login-box-12">
            	<div class="col-lg-5 col-md-12 col-sm-12 px-0">
                	<div class="login_right">
	                    <a href="#" class="logo_text">
	                        <span>JL</span> Just Log
	                    </a>
	                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt Lorem Ipsum</p>
	                    <a href="#" class="btn-outline">Read More</a>
	                    <ul class="social-list clearfix">
	                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
	                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
	                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
	                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
	                    </ul>
	                </div>
                </div>
                <div class="col-lg-7 col-sm-12">
                    <div class="login-inner-form">
                        <div class="details">
                            <h3>Recover <span>your password</span></h3>
                            <form action="http://uiwebsoft.com/justlog/index.html" method="GET">
                                <div class="form-group">
                                    <input type="email" name="email" class="input-text" placeholder="Email Address">
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn-md btn-theme btn-block">Send Me Email</button>
                                </div>
                            </form>
                            <p>Already a member?<a href="{% url 'account:login' %}"> Login here</a></p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- /. Login page -->
    {% include 'includes/footer.html' %}
{% endblock %}
{#127.0.0.1:8000/auth/signup/#}


