{% extends 'main.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title_block %} Registration {% endblock %}
{% block content %}
    {% include 'includes/navbar.html' %}
    {% comment %}{% if form.errors %}
        {% for field in form %}
            {% for error in field.errors %}
                <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endif %}{% endcomment %}
    <!-- breadcrumb area start -->
    <div class="breadcrumb-area">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb-wrap">
                        <nav aria-label="breadcrumb">
                            <ul class="breadcrumb">
                                <li class="breadcrumb-item"><a href="{% url 'products:home' %}">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Register</li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- breadcrumb area end -->

    <!-- Start of Login Wrapper -->
    <div class="login-wrapper pb-70">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                    <main id="primary" class="site-main">
                        <div class="user-login">
                            <div class="row">
                                <div class="col-12 col-sm-12 col-md-12">
                                    <div class="section-title text-center">
                                        <h3>Create an Account</h3>
                                    </div>
                                </div>
                            </div> <!-- end of row -->
                            <div class="row">
                                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-8 offset-xl-2">
                                    <div class="registration-form login-form">
                                        <form method="POST" {% comment %}action="{% url 'account:login' %}"{% endcomment %}
                                              id="signupform">
                                            {% csrf_token %}
                                            <div class="login-info mb-20">
                                                <p>Already have an account? <a href="{% url 'account:login' %}">Log in instead!</a></p>
                                            </div>
                                            {% comment %}{% if error_msg %}
                                                <ul style="list-style-type: none; color:red">
                                                    <li><strong>{{ error_msg }}</strong></li>
                                                </ul>
                                            {% elif form.error_messages %}
                                                <ul style="list-style-type: none; color:red">
                                                    {% for error in form.errors %}
                                                        <li><strong>{{ error|escape }}</strong></li>
                                                    {% endfor %}
                                                </ul>
                                            {% endif %}
                                            <div class="form-group row align-items-center">
                                                <label class="col-12 col-sm-12 col-md-4 col-form-label">Title</label>
                                                <div class="col-12 col-sm-12 col-md-8 col-lg-8">
                                                    <div class="form-row">
                                                        <div class="col-6 col-sm-3">
                                                            <div class="custom-radio">
                                                                <input class="form-check-input" type="radio" name="gender" id="male">
                                                                <span class="checkmark"></span>
                                                                <label class="form-check-label" for="male">Mr.</label>
                                                            </div>
                                                        </div>
                                                        <div class="col-6 col-sm-3">
                                                            <div class="custom-radio">
                                                                <input class="form-check-input" type="radio" name="gender" id="female">
                                                                <span class="checkmark"></span>
                                                                <label class="form-check-label" for="female">Mrs.</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="f-name" class="col-12 col-sm-12 col-md-4 col-form-label">First
                                                    Name</label>
                                                <div class="col-12 col-sm-12 col-md-8 col-lg-8">
                                                    {#                                                    <input type="text" class="form-control" id="id_first_name" required="" name="first_name">#}
                                                    {{ form.first_name }}
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="l-name" class="col-12 col-sm-12 col-md-4 col-form-label">Last
                                                    Name</label>
                                                <div class="col-12 col-sm-12 col-md-8 col-lg-8">
                                                    {#                                                    <input type="text" class="form-control" id="id_last_name" required="" name="last_name">#}
                                                    {{ form.last_name }}
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="email" class="col-12 col-sm-12 col-md-4 col-form-label">Email
                                                    Address</label>
                                                <div class="col-12 col-sm-12 col-md-8 col-lg-8">
                                                    {#                                                    <input type="text" class="form-control" id="id_email" required="" name="email">#}
                                                    {{ form.email }}
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="newpassword"
                                                       class="col-12 col-sm-12 col-md-4 col-form-label">Enter
                                                    Password</label>
                                                <div class="col-12 col-sm-12 col-md-8 col-lg-8">
                                                    {#                                                    <input type="password" class="form-control" id="id_password1" required="" name="password1">#}
                                                    {{ form.password1 }}
                                                    {% for error in form.error_messages %}
                                                        {% if error.index == "password_mismatch" %}
                                                            <div class="form-group row">
                                                                <div>The two password fields didn’t match.</div>
                                                            </div>
                                                        {% endif %}
                                                    {% endfor %}
                                                    <button class="pass-show-btn" type="button" onclick="reveal()"
                                                            id="showPass1">Show
                                                    </button>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="c-password"
                                                       class="col-12 col-sm-12 col-md-4 col-form-label">Confirm
                                                    Password</label>
                                                <div class="col-12 col-sm-12 col-md-8 col-lg-8">
                                                    {#                                                    <input type="password" class="form-control" id="id_password2" required="" name="password2">#}
                                                    {{ form.password2 }}
                                                    {% for error in form.error_messages %}
                                                        {% if error.index == "password_mismatch" %}
                                                            <div class="form-group row">
                                                                <div>The two password fields didn’t match.</div>
                                                            </div>
                                                        {% endif %}
                                                    {% endfor %}
                                                    {#                                                    <button class="pass-show-btn" type="button" onclick="reveal()" id="showPass2">Show</button>#}
                                                </div>
                                            </div>{% endcomment %}
                                            {{ form|crispy }}
                                            {% comment %}<div class="form-check row p-0 mt-5">
                                                <div class="col-12 col-sm-12 col-md-8 offset-md-4 col-lg-6 offset-lg-4">
                                                    <div class="custom-checkbox">
                                                        <input class="form-check-input" type="checkbox" id="offer">
                                                        <span class="checkmark"></span>
                                                        <label class="form-check-label" for="offer">Receive offers from our partners</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-check row p-0 mt-4">
                                                <div class="col-12 col-sm-12 col-md-8 offset-md-4 col-lg-8 offset-lg-4">
                                                    <div class="custom-checkbox">
                                                        <input class="form-check-input" type="checkbox" id="subscribe" required="">
                                                        <span class="checkmark"></span>
                                                        <label class="form-check-label" for="subscribe">Sign up for our newsletter<br>Subscribe to our newsletters now and stay up-to-date with new collections, the latest lookbooks and exclusive offers..</label>
                                                    </div>
                                                </div>
                                            </div>{% endcomment %}
                                            <div class="register-box d-flex justify-content-end mt-20">
                                                <button type="submit" class="btn btn-secondary">Register</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div> <!-- end of user-login -->
                    </main> <!-- end of #primary -->
                </div>
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div>
    <!-- End of Login Wrapper -->

    {% include 'includes/footer.html' %}
{% endblock %}

{#127.0.0.1:8000/auth/signup/#}
