{% load static %}
{% load cart_tag %}
{% load navbar_tag %}
<!-- header area start -->
<header class="header-pos">
    <div class="header-top black-bg">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-8 col-12">
                    <div class="header-top-left">
                        <ul>
                            <li><span>Email: </span>support@techfort.com</li>
                            <li>Free Shipping for all Order of $99</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-12">
                    <div class="box box-right">
                        <ul>
                            <li class="settings">
                                {% if user.is_authenticated %}
                                <a class="ha-toggle" href="#">{{ request.user.first_name }}<span
                                        class="lnr lnr-chevron-down"></span></a>
                                <ul class="box-dropdown ha-dropdown">
                                    <li><a href="{% url 'account:profile' user.id %}">Your Profile</a></li>
                                    <li><a href="{% url 'account:logout' %}">Logout</a></li>
                                </ul>
                                {% else %}
                                <a class="ha-toggle" href="#">My Account<span
                                        class="lnr lnr-chevron-down"></span></a>
                                <ul class="box-dropdown ha-dropdown">
                                    <li><a href="{% url 'account:signup' %}">Register</a></li>
                                    <li><a href="{% url 'account:login' %}">Login</a></li>
                                </ul>
                                {% endif %}
                            </li>
                            <!--<li class="settings">
                                <a class="ha-toggle" href="#">Language<span class="lnr lnr-chevron-down"></span></a>
                                <ul class="box-dropdown ha-dropdown">
                                    <li><a href="login.html"><img src="{% static 'img/icon/en.png' %}" alt="">
                                        English</a></li>
                                    <li><a href="login.html"><img src="{% static  'img/icon/ge.png' %}" alt=""> Germany</a>
                                    </li>
                                </ul>
                            </li>-->
                            <!--<li class="currency">
                                <a class="ha-toggle" href="#">Currency<span class="lnr lnr-chevron-down"></span></a>
                                <ul class="box-dropdown ha-dropdown">
                                    <li><a href="login.html">€ Euro</a></li>
                                    <li><a href="login.html">$ US Doller</a></li>
                                </ul>
                            </li>-->
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header-middle">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-lg-2 col-md-4 col-sm-4 col-12">
                    <div class="logo">
                        <a href="index.html"><img src="{% static 'img/logo/img_2.png' %}"></a>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 col-12 order-sm-last">
                    <div class="header-middle-inner">
                        <form method="POST" >{% csrf_token %}
                            <div class="top-cat hm1">
                                <div class="search-form">
                                    <select name="catSelected">
                                        {% if categories %}
                                        {% for category in categories %}
                                            <option value="{{ category.category_id }}">{{ category.category_name }}</option>
                                        {% endfor %}
                                        {% endif %}
                                    </select>
                                </div>
                            </div>
                            <input type="text" class="top-cat-field" placeholder="Search Products here">
                            <input type="submit" class="top-search-btn" value="Search">
                        </form>
                    </div>
                </div>
                {% if user.is_authenticated %}
                <div class="col-lg-4 col-md-8 col-12 col-sm-8 order-lg-last">
                    <div class="mini-cart-option">
                        <ul>
                            <li class="my-cart">
                                <a class="ha-toggle" href="#"><span class="lnr lnr-cart"></span><span
                                        class="count">
                                    {% if request.user|cart_items %}
                                        {{ request.user|cart_total }}
                                    {% else %}
                                        0
                                    {% endif %}
                                </span>my cart</a>
                                <ul class="mini-cart-drop-down ha-dropdown">

                                    {% if request.user|cart_items %}
                                        {% for item in request.user|cart_items %}
                                            <li class="mb-30">
                                                <div class="cart-img">
                                                    <a href="{% url 'products:productDetails' pk=item.item.productId %}"><img alt="" src="{{ item.item.image }}"></a>
                                                </div>
                                                <div class="cart-info">
                                                    <h4>
                                                        <a href="{% url 'products:productDetails' pk=item.item.productId %}">{{ item.item.name }}</a>
                                                    </h4>
                                                    <span> <span>{{ item.quantity }} x </span><!--&#2547;-->$ {%if item.item.new_price %}{{ item.item.new_price }}{% else %}{{ item.item.old_price }}{%endif%}</span>
                                                </div>
                                                <div class="del-icon">
                                                    <a href="{% url 'remove' pk=item.item.productId %}"><i class="fa fa-times-circle"></i></a>
                                                </div>
                                            </li>
                                        {% endfor %}
                                        <li>
                                            <div class="subtotal-text">Sub-total:</div>
                                            <div class="subtotal-price">
                                                <!--&#2547;-->$ {{ request.user|get_sub_total_price }}
                                            </div>
                                        </li>
                                        <li>
                                            <div class="subtotal-text">Vat :</div>
                                            <div class="subtotal-price">
                                                <!--&#2547;-->{{ request.user|get_vat }} %
                                            </div>
                                        </li>
                                        <li>
                                            <div class="subtotal-text">Total:</div>
                                            <div class="subtotal-price">
                                                <span><!--&#2547;-->$ {{ request.user|get_total_price }}</span></div>
                                        </li>
                                    {% endif %}
                                    <li class="mt-30">
                                        <a class="cart-button" href="{% url 'view_cart' %}">view cart</a>
                                    </li>
                                    <li>
                                        <a class="cart-button" href="{% url 'payment:checkout' %}">checkout</a>
                                    </li>
                                </ul>
                            </li>


                        </ul>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="header-top-menu theme-bg sticker">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="top-main-menu">
                        <div class="categories-menu-bar">
                            <div class="categories-menu-btn ha-toggle">
                                <div class="left">
                                    <i class="lnr lnr-text-align-left"></i>
                                    <span>Browse categories</span>
                                </div>
                                <div class="right">
                                    <i class="lnr lnr-chevron-down"></i>
                                </div>
                            </div>
                            <nav class="categorie-menus ha-dropdown">
                                <ul id="menu2">
                                    {% if categories %}
                                    {% for category in categories %}
                                    <li><a href="{% url 'products:shopFilterProduct' cat_id=category.category_id %}">{{ category.category_name }}<span
                                            class="lnr lnr-chevron-right"></span></a>
                                    </li>
                                    {% endfor %}
                                    {% elif categories == 0 %}
                                    <p>No Categories</p>
                                    {% endif %}
                                </ul>
                            </nav>
                        </div>
                        <div class="main-menu">
                            <nav id="mobile-menu">
                                <ul>
                                    <!--<li><a href="{% url 'products:shop' %}">HOME</a>&lt;!&ndash;{% url 'products:home' %}&ndash;&gt;

                                    </li>-->
                                    <li><a href="{% url 'products:shop' %}">SHOP</a>

                                    </li>

                                    <li><a href="{% url 'blog:blogs' %}">BLOG</a>

                                    </li>
                                    <li><a href="{% url 'products:contact' %}">CONTACT US</a></li>
                                </ul>
                            </nav>
                        </div> <!-- </div> end main menu -->
                        <div class="header-call-action">
                            <p><span class="lnr lnr-phone"></span>Hotline : <strong>1-001-234-5678</strong></p>
                        </div>
                    </div>
                </div>
                <div class="col-12 d-block d-lg-none">
                    <div class="mobile-menu"></div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- header area end -->